.forgot__password__container {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-top: 5%;
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
  
  .forgot__password__form {
    /* top: -9%;
    left: 50%; */
    /* transform: translate(-5%, 5%); */
    margin: 10%;

  }
  .forgot__password__heading{
    margin-left: 10px;
    margin-bottom: 10%;
    font-size: medium;
    font-weight: 400;
  }
  
  .forgot__password__griditem {
    margin-bottom: 2px;
  }
  
  .input-text-login{
    border-radius: 15px;
    border: none;
    color: var(--heading-color);
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .forgot__password__img {
    margin-top: 5%;
    size: 20%;
  }
  
  .forgot__password__submitbtn {
    display: flex;
    justify-content: center;
  }
 
  .go__back p{
    color: #333;
    transform: translateX(-24%);
    margin-left: 80px;
    margin-left: 33%;
    display:contents;

    
  
  }
  .go__back a{
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
  }
  